aside {
    width: 300px;
    background-color: #fff;
    box-shadow: 5px 0px 20px 0px #888;
    z-index: 4;
    max-height: 100vh;
    overflow: hidden;
}

aside header {
    padding: 10px;
    border-bottom: 1px solid #000;
}

aside header img {
    display: block;
    margin: 0 auto;
    width: 75px;
    height: 85px;
}

aside header h1 {
    text-align: center;
    margin: 10px 0;
    font-size: 1rem;
}

aside header h1 span {
    font-weight: bold;
}

aside h2 {
    text-align: center;
    text-transform: uppercase;
    margin: 10px;
    color: #00309b;
    font-weight: 600;
}

aside .random-places {
    height: calc(100vh - 220px);
}

aside .random-places .random-place {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    color: white;
}

aside .random-places .random-place:nth-of-type(odd) {
    background: #474747;
}

aside .random-places .random-place:nth-of-type(even) {
    background-color: #f35454;
}

aside .random-places .random-place img:hover {
    cursor: pointer;
}