aside {
    flex: 0 0 300px;
    background-color: #fff;
    box-shadow: 5px 0px 20px 0px #888;
    z-index: 4;
    max-height: 100vh;
    overflow: hidden;
}

aside header {
    padding: 10px;
    border-bottom: 1px solid #000;
}

aside header img {
    display: block;
    margin: 0 auto;
    width: 75px;
    height: 85px;
}

aside header h1 {
    text-align: center;
    margin: 10px 0;
    font-size: 1rem;
}

aside header h1 span {
    font-weight: bold;
}

aside h2 {
    text-align: center;
    text-transform: uppercase;
    margin: 10px;
    color: #00309b;
    font-weight: 600;
}

aside .random-places {
    height: calc(100vh - 210px);
}

aside .random-places .random-place {
    line-height: 1.25rem;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    color: white;
}

aside .random-places .random-place:nth-of-type(odd) {
    background: #474747;
}

aside .random-places .random-place:nth-of-type(even) {
    background-color: #f35454;
}

aside .random-places .random-place img:hover {
    cursor: pointer;
}


@media only screen and (max-width: 440px) {
    aside header h1 {
        color: transparent;
    }
    aside header h1 span {
        color: initial;
    }
}

@media only screen and (max-width: 1024px) {
    aside {
        width: 100%;
        box-shadow: none;
        flex: 0 1 auto;
    }

    aside header {
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        
    }

    aside header img {
        width: 40px;
        height: 50px;
        margin: 0;
    }

    aside header h1 {
        margin-left: 20px;
        text-align: initial;
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis;
    }

    aside .random-places, aside h2 {
        display: none;
    }

    aside header {
        padding: 10px;
        border-bottom: none;
        display: flex;
    }
}

