aside {
    width: 300px;
    background-color: #fff;
    box-shadow: 5px 0px 20px 0px #888;
    z-index: 4;
    max-height: 100vh;
    overflow: hidden;
}

aside header {
    padding: 10px;
    border-bottom: 1px solid #000;
}

aside header img {
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 120px;
}

aside header h1 {
    text-align: center;
    margin: 10px 0;
    font-size: 1rem;
}

aside header h1 span {
    font-weight: bold;
}

aside h2 {
    text-align: center;
    text-transform: uppercase;
    margin: 10px;
    color: #378ce0;
    font-weight: 600;
}

aside .random-places {
    height: calc(100vh - 260px);
}

aside .random-places .random-place {
    padding: 20px;
}

aside .random-places .random-place:nth-of-type(odd) {
    background-color: #d8e8c8;
}

aside .random-places .random-place:nth-of-type(even) {
    background-color: #e5d7a0;
}